---
layout: default
---

<!DOCTYPE html>
<html lang="en" class="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="icon" href="/favicon.gif" type="image/gif">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/gh/d33p0st/toggle-engine.js@v1.0.1/dist/toggle-engine.js"></script>
        <script src="/assets/js/homepage-dark-mode-specific.js"></script>
    </head>
    <body class="body">
        <!-- Assign github_url from data.social -->
        {% assign github_url = site.data.social | where: "platform", "github" | first %}
       <!-- Whole Screen -->
        <div class="layout">
            <!-- left split -->
            <div class="left">
                <!-- profile picture -->
                <div class="logo">
                    <a href="{{ github_url.url }}" target="_blank">
                        <img src="{{ 'assets/images/logo.png' }}" alt="logo">
                    </a>
                </div>
                <!-- Signature -->
                <div class="name">
                    <a href="{{ github_url.url }}" target="_blank">
                        <img id="homepage-name-pic" src="{{ 'assets/images/name-light.gif' }}" alt="name">
                    </a>
                </div>
                <!-- socials -->
                <div class="socials">
                    {% for link in site.data.social %}
                    <a href="{{ link.url }}" target="_blank">
                        <i class="fab fa-{{ link.platform }}"></i>
                    </a>
                    {% endfor %}
                </div>
                <!-- navigation links -->
                <nav class="page-links">
                    <div class="page-item">
                        {% for page in site.pages %}
                            {% if page.title and page.layout == 'page' %}
                                <a href="{{ page.url }}" class="underline">{{ page.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </nav>
            </div>

            <!-- Right split -->
            <main class="container">
                <!-- {% if site.title %}
                    <div>
                        <h1 class="header-underline">{{ site.title }}</h1>
                        <hr class="title-split">
                    </div>
                {% endif %} -->
                
                {{ content }}

            </main>
        </div>
        
        <script>
            toggle(19, 0, 0, 7, 0, 0, 'dark-mode', 60000, homepageSpecific);
        </script>
    </body>
</html>