---
layout: default
---

<!DOCTYPE html>
<html lang="en">
    <head></head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    </head>
    <body>
        <!-- assign variables -->
        {% assign github = site.data.social | where: "platform", "github" | first %}
        {% assign instagram = site.data.social | where: "platform", "instagram" | first %}
        {% assign linkedin = site.data.social | where: "platform", "linkedin" | first %}

        <!-- Page Header Container -->
         <header>
            <div class="page-header-container">
                <!-- Left Logo -->
                <div class="page-name-logo">
                    <img src="{{ 'assets/images/sign.png' }}" alt="signature">
                </div>
                <!-- Right Navigation -->
                <nav class="page-nav-bar">
                    <div class="page-nav-links">
                        {% assign site_data = site.data %}
                        {% assign page_url_name = page.url | remove: "/" | remove: ".html" %}
                        {% assign nav_data = site_data[page_url_name] %}
                        {% if nav_data %}
                            <!-- {{ nav_data }} -->
                            {% for page_name in nav_data.links %}
                                {% assign link = site.pages | where: "title", page_name | first %}
                                <a href="{{ link.url }}" class="underline">{{ page_name }}</a>
                            {% endfor %}
                        {% else %}
                            {% for page in site.pages %}
                                {% if page.title and page.title != 'Home' %}
                                    <a href="{{ page.url }}">{{ page.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </nav>
            </div>
         </header>

         <main class="page-main-content">
            <article>
                <h1>{{ page.title }}</h1>
                <div class="page-content">
                    {{ content }}
                </div>
            </article>
         </main>

         <footer>
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
         </footer>
    </body>
</html>